#question1Content {
  display:none;

}

#question2Content {
  display:none;
}

#question3Content {
  display:none;
}

#question4Content {
  display:none;
}

.infoLink {
  display: none;
}

.cssInfo {
  display:none;
}

.rubyInfo {
  display:none;
}

.cshInfo{
  display: none;
}
.phpInfo {
  display: none;
}

.headerPrompt {
  text-decoration: underline;
  margin: 25px;
}
 .textDesign {

 }

.well {
  border:3px solid grey;
  border-radius: 4px;
  background-color: #e7e7e7;
}

.jumbotron {
  border:3px solid grey;
  border-radius: 4px;
}

body {
  background-color: #cfeef7;
}


.questionText {
  background-color: #e7e7e7;
  border:3px solid grey;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  width: 70%;
}

.info {
  background-color: #e7e7e7;
  border:3px solid grey;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  display: none;
  margin:auto;
  margin-bottom: 50px;
  width: 40%;

}

#question0 {
  width:30%;
}

#question1 {
  width:30%;
}

#question2 {
  width:30%;
}

#question3 {
  width:30%;
}

#question4 {
  width:30%;
}

.footer {
  float: bottom;
  background-color:#e7e7e7 ;
  border:3px solid grey;
  border-radius: 4px;
  margin-top: 30px;
  width:32%;
  display: block;
  margin:auto;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
 .footer li h4 {
   display: block;
   text-align: center;
   padding: 16px;
   text-decoration: none;
   margin: auto;
 }

 .footer li {
   float:left;
   margin:auto;
 }
.javaInfo {
  display: none;
}
.info h1 {
  text-shadow: 3px 3px darkgrey;
}
